
.bgfirst{
	background-image: linear-gradient(to right, blue,lightblue,violet,purple);
	height: 90vh;
	position: relative;
}
.size{
	font-size: 270px;
	position: fixed;
	top: 130px;
	opacity: 0.2;
}
.sizeh{
	font-weight: bold;
	font-size: 50px;
}
.white{
	color: white;
	font-family: work-sans;
}
.fsize{
	font-size: 30px;
	word-spacing: 5px;
}
.white button{
	font-weight: bold;
	color: red;
	padding-left: 35px;
	padding-right: 35px;
	border-radius: 50px;
	margin-top: 10px;
}
.pad{
	padding-top: 150px;
}
.padtopbot{
	padding-top: 5px;
	padding-bottom: 5px;
}
body {
    margin: 0;
    padding-top:  50px;
}
.bg-white {
    background-color: white;
}
a {
    color: black;
}
.navbar-nav li >a:hover {
    color: red;
    background-color: white;
}
.navbar-header > a:hover {
    color: black;
}
.navbar-header > a {
    color: black;
    font-size: 30px;
}
.navbar-nav li > button {
    padding: 5px 30px;
    margin-top: 1rem;
    border-radius: 25px;
}
