body {
    margin: 0;
    padding-top:  50px;
}
.bg-white {
    background-color: white;
}
a {
    color: black;
}
.navbar-nav li >a:hover {
    color: red;
    background-color: white;
}
.navbar-header > a:hover {
    color: black;
}
.navbar-header > a {
    color: black;
    font-size: 30px;
}
.navbar-nav li > button {
    padding: 5px 30px;
    margin-top: 1rem;
    border-radius: 25px;
}
